*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--body-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  padding: 4rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --container-color: #eaf5ff40;
  --body-color: #3c61c0;
  --text-color: white;
  --text--greyed-color: #d7c9c9;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.weather-location {
  font-size: 2.5rem;
}

.weather-date-time {
  font-size: 2rem;
  color: var(--text--greyed-color);
}

.weather-container {
  position: relative;
  background-color: var(--container-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  border-radius: 8px;
}

.weather-current {
  display: flex;
  align-items: center;
}

.current-temperature {
  font-size: 6rem;
  font-weight: 500;
}

.current-icon {
  width: 240px;
}

.weather-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.summary-heading {
  color: #2527a0c3;
  font-size: 1.35rem;
}

.summary-feels-like {
  color: #2527a0c3;
  font-size: 1.35rem;
  font-weight: 600;
}

.summary-value {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.weather-details-container {
  background-color: var(--container-color);
  padding: 5rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.weather-detail-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.weather-detail-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  font-size: 2.5rem;
  color: var(--text-color);
}

.weather-detail-values {
  display: flex;
  flex-direction: column;
}

.weather-detail-heading {
  font-size: 1.5rem;
  color: #2527a0c3;
}

.weather-detail-value {
  font-size: 1.375rem;
  color: var(--text-color);
}

.search-container {
  margin: auto;
  display: flex;
  margin-top: 2rem;
}

.search-form {
  width: 100%;
  max-width: 500px;
  background: #eaf5ff40;
  display: flex;
  border-radius: 60px;
  align-items: center;
  padding: 0.4em 0.6em;
  border: 1px solid transparent;
  transition: 0.5s;
}

.search-form:focus-within {
  border: 1px solid #fff;
}

.search-form input {
  background: transparent !important;
  border: 0;
  outline: none;
  padding: 0.2em;
  font-size: 1.1rem;
  color: white;
}

.search-form input::placeholder {
  color: rgba(255, 255, 255, 0.39);
}

.search-form button {
  border: 0;
  border-radius: 50px;
  width: 2.3rem;
  height: 2.3rem;
  background: #121365c3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffffb8;
  cursor: pointer;
  transition: transform 0.5s;
}

.search-form button:hover {
  transform: scale(1.1);
}

/* The switch container */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 20px;
  right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #121365c3;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #121365c3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #121365c3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-label-c {
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  left: 10px; /* Position C label on the left */
  user-select: none;
}

.slider-label-f {
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  right: 10px; /* Position F label on the right */
  user-select: none;
}

/* Toggle visibility of C and F */
input:checked + .slider .slider-label {
  opacity: 0.5;
}

input:checked + .slider .slider-label-f {
  opacity: 1;
}
